html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    background-position: center;
}
        

body{
    margin:auto;
    padding: 0;
    background-color: #ffffff;
    font-family: cursive;
    box-sizing: border-box;
    border: solid 3.5rem #CC0000;
    align-content: center;
    width: 85%;
    height: 80%;
    
}

header{
    text-align: center;
    width: 100%;
    background-color: #000080;
    margin-top: 24px;
    align-items: stretch;
    font-size: 1.8rem;
    display: inline-block;
 
}

a{
    text-decoration: underline;
    color: #ffffff;
}

    
#img_1{
    float: right;
    
}

#img_2{
    float: left;
    margin-left:20px
}

#list{
    
}

#list1 > ul{
    display: inline;
    background-color: #000080;
    padding: 0;
    width: calc(100%/6);

}

#list1 > ul > li{
    display: inline;
    text-transform: uppercase;
    height: 25px;
    width: calc(100%/6);
    padding: 0;
    letter-spacing: 3px;
}

#list1 > ul > li < a{
    text-align: center;

}

    

#list1> ul > li > a;hover{
    text-decoration: underline;
}




h1{
    text-align: center;
    margin: 0 auto;
    text-emphasis-position: above;
    
    
    
}

#floatleft{
    text-align: center;
    align-content: center;
    
    
}

p{
    font-size: 1.5rem;
    
    
}




button{
    background-color: #000080;
    width: 70px;
    height: 40px;
    
    
}

#social{
    
}

footer{
    text-align: center;
    width: 100%;
    display: block;
    font-size: 12px;
}

