body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: white;
    text-decoration-color: #000000;
    border-style: solid #000000;
    font-size: 75.5%;
    
}

header{
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    color: #962221;
}
main{
    height:900px;
    width: 100%;
    
    
}
#img_1{
    float: right;
    margin-left: 265px;
}
#img_2{
    float: left;
    margin-right: 59px;
}

ul{
    float: right;
    position: relative;
    top:-180px;
    margin-right:406px;
    background-color: red;
    background-position: center;
    padding-right: 50px;

    
}
li{
    border-left: 2px solid black;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: .2rem;
    display: inline-block;
    
    
}
.about{
    width: 99%;
    float: right;
    box-sizing: border-box;
    background-color: red;
    border: solid 3px; 
    margin: 0;
    display: inline;
    
}
div{
    float: left;
    width: 50%;
    width: calc(100%/2);
}
.info{
   float: right;
    width: 50%;
    width: calc(100%/2); 
    text-align: center;
}

footer{
    margin: 0;
    display: inline-block;
    
}









