body{
    margin: 5em;
    padding: 0;
    font-size: 75.5%;
    box-sizing: border-box;
    border-color: #000000;
    border-style: solid;
    height: 90%;
    width: 90%;
    background-color: #ffffff;
    text-decoration-color: #000000;
       
}
#img_1{
    float: right;
    margin-left: 265px;
}
#img_2{
    float: left;
    margin-right: 59px;
}

ul{
    float: right;
    position: relative;
    top:-180px;
    margin-right:406px;
    background-color: red;
    background-position: center;
    padding-right: 50px;

    
}
li{
    border-left: 2px solid black;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: .2rem;
    display: inline-block;
    
    
}
footer{
    margin: 0;
    padding: 0;
}
